creatio-docs-*/markdown/*.md filter=lfs diff=lfs merge=lfs -text
creatio-docs-*/html/*.html filter=lfs diff=lfs merge=lfs -text
creatio-docs-full/**/*.md filter=lfs diff=lfs merge=lfs -text
creatio-docs-full/**/*.html filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
creatio-docs-full/images/* filter=lfs diff=lfs merge=lfs -text
