version https://git-lfs.github.com/spec/v1
oid sha256:c0cd71088e86eaa2f10eb2d867026603454eeea25a7a7deda471b10ce833d444
size 796
